.App {
  font-family: sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid div {
  padding: 1rem;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.person {
  background-color: grey;
  /* border */
}
.person div:first-of-type {
  border-bottom: 1px solid yellow;
}
